global:
  resolve_timeout: 5m

route:
  receiver: email-default
  group_by: ['alertname', 'job', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 2h
  routes:
    - receiver: email-critical
      matchers:
        - severity="critical"
      continue: true

receivers:
  - name: email-default
    email_configs:
      - to: '${ALERT_EMAIL_TO}'
        from: '${ALERT_EMAIL_FROM}'
        smarthost: '${ALERT_SMARTHOST}'
        auth_username: '${ALERT_SMTP_USER}'
        auth_password: '${ALERT_SMTP_PASS}'
        require_tls: true

  - name: email-critical
    email_configs:
      - to: '${ALERT_EMAIL_TO}'
        from: '${ALERT_EMAIL_FROM}'
        smarthost: '${ALERT_SMARTHOST}'
        auth_username: '${ALERT_SMTP_USER}'
        auth_password: '${ALERT_SMTP_PASS}'
        require_tls: true
        headers:
          subject: '[CRITICAL] Luxia Alert - {{ .CommonLabels.alertname }}'
